body {
    font-family: 'Arial', sans-serif;
    background-color: #e1f5fe;
    margin: 0;
    padding: 0;
    color: #2c3e50;
}

header {
    background-color: #0288d1; 
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
    background-color: #ffffff;
}

.intro, .content, .end {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #0288d1;
    padding-bottom: 10px;
    color: #0288d1;
}

img.image1, img.image2{
    display: block;
    margin: 20px auto;
    max-width: 60%;
    height: auto;
    border-radius: 3px;
}

img.image {
    display: block;
    margin: 20px auto;
    max-width: 35%;
    border-radius: 3px;
}

.event {
    border-left: 5px solid #039be5;
    margin: 20px 0;
    padding: 15px;
    background: #e1f5fe;
    border-radius: 5px;
}

.event h3 {
    margin-top: 0;
    color: #01579b; 
}

footer {
    background-color: #0288d1;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}